@import url('./reset.css');
$color:#ff4040;
.wrap{
	width:1070px;
	margin:0 auto;
}
.hd-top{
	background:#f4f4f4;
	height:30px;
	border-bottom:1px solid #e5e5e5;
	min-width:1070px;
}
.ht-main{
	background:#f4f4f4;
}

.ht-main ul{
	float:right;
	li{
		float:left;
		line-height: 30px;
		
		span{
			color:#aaaaaa;
		}
	}
}

.ht-main ul{
	li:nth-child(1){
		margin-right:10px;
		span{
			color:#000;
			float:left;
		}
		button{
			color:$color;
			font-size:12px;
			background: none;
			border: none;
			padding:0;
			vertical-align: baseline;
			display: inline;
		}
		button:nth-of-type(2){
			margin:0 12px;
			color:#aaaaaa;
			&:hover{
				color:$color;
			}
		}
	}
	li:nth-child(2){
		margin-right:14px;
		a:hover{
			color:$color;
			span{
				color:$color;
			}
		}
	}
	li:nth-child(3){
		a:hover{
			color:$color;
			span{
				color:$color;
			}
		}
	}
}
.logo{
	padding-top:10px;
	margin-bottom: 10px;
	height:60px;
	a{
		text-indent: -9999px;
		display: block;
		width:40px;
		height:28px;
		background: url(../img/logo3.png) no-repeat;
		float: left;
		margin-top:16px;
		margin-right:10px;
	}
	img{
		margin-top:19px;
	}
}

#main{
	background: url(../img/bg.png) no-repeat;
	background-size:cover;
	min-width:1070px;
	padding-bottom: 30px;
}
.product{
	h2{
		height:60px;
		text-align: center;
		font-size:18px;
		color:$color;
		line-height: 60px;
	}
	>div{
		height:522px;
		background: #fff;
		border:1px solid #eee;
		figure{
			height:210px;
			width:150px;
			float:left;
			margin:25px 31px;
			>div{
				width:150px;
				position:relative;
				img{
					width:100%
				}
				>span{
					position:absolute;
					left:0;
					top:0;
					display: none;
				}
			}
			figcaption{
				h3{
					text-align: center;
					line-height: 30px;
					color:$color;
					font-size: 14px;
				}
				a{
					display: block;
					width:80px;
					height:26px;
					text-align: center;
					line-height: 26px;
					background: $color;
					border-radius: 13px;
					color: #fff;
					margin:5px auto;
				}
			}
		}
	}
}
.cart{
	>div:nth-of-type(1){
		height:40px;
		background: #fff;
		font-size:12px;
		margin:20px 0;
		border: 1px solid #eee;
		span{
			width:210px;
			text-align: center;
			display: block;
			float: left;
			line-height: 40px;
		}
	}
}
.cart_container{
	min-height:130px;
	background: #fff;
	border: 1px solid #eee;
	width:1070px;
	tbody{
		tr{
			height:115px;
			td{
				width:210px;
				text-align: center;
				font-size:14px;
			}
			td:nth-of-type(2){
				>div{
					float: left;
					width:75px;
					img{
						width:100%;
					}
				}
				span{
					margin-top:25px;
					display: block;
				}
			}
			td:nth-of-type(5){
				a:hover{
					color:$color;
				}
			}
			td:nth-of-type(4){
				div{
					margin:0 auto;
					width:84px;
					height:24px;
					text-align: center;
					line-height: 18px;
					border:1px solid #ccc;
					padding:2px;
					span:nth-of-type(2){
						float: left;
						font-size: 12px;
						border:{
							left:1px solid #ccc;
							right:1px solid #ccc;
						}
						display: block;
						height:18px;
						width:38px;
					}
					span:nth-of-type(1),span:nth-of-type(3){
						float:left;
						width:20px;
					}
				}
			}
		}	
	}
}








#footer{
	.ft-top{
		height:126px;
		padding:30px 0;
		display: flex;
		border-bottom: 1px solid #ebebeb;
		
		figure{
			width:25%;
			
			img{
				float:left;
			}
			figcaption{
				float:left;
				margin-left:15px;
				h2{
					font:{
						weight:800;
						size:16px;
					};
					line-height: 30px;
					margin-top:5px;
				}
				p{
					font-size:14px;
					color:#a2a2a2;
				}
			}
		}
	}
	.ft-nav{
		height:210px;
	}
	.fn-left{
		width:730px;
		display: flex;
		padding-top:30px;
		float:left;
		dl{
			width:25%;
			padding-left:25px;
			dt{
				font-size:14px;
				line-height: 30px;
				color:#666;
			}
			dd{
				font-size:12px;
				line-height: 25px;
				a:hover{
					color:$color;
				}
			}
		}
	}
	.fn-right{
		float:left;
		dl{
			float:left;
			margin:{
				top:30px;
				left:50px;
			}
			dt{
				font:{
					size:14px;
					weight:800;
				}
				margin-bottom:5px;
				color:#666666;
				
			}
		}
	}
}
.ft-bottom{
	text-align: center;
	div{
		a{
		margin:0 5px;
			&:hover{
				color:$color;
			}
		}
		P{
			margin-top:10px;
			color:#898989;
		}
	}
}